:root {
    --frozen: rgba(255, 0, 144, 0.4);
    --tangled: rgba(249, 253, 6, 0.4);
    --inputborder: 1px solid rgba(0,0,0,0.4);
}
body {
    background: rgba(0, 0, 0, 0.945);
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
}
.wrapper {
    position: relative;
    width: 95vw;
    height: 96vh;
    /* margin: 10px auto; */
    margin: 100px auto;
    padding: 0;
    display: grid;
    /* align-items: center; */
    justify-content: center;
}

/* Header */
header {
    background-color: rgba(250, 235, 215, 0.959);
    grid-column: 1 / -1;
    /* justify-content: center; */
    /* width: 100%; */
    /* height: 80px; */
    display: grid;
    /* grid-template-rows: 5fr 1fr; */
}
header h1 {
    /* text-justify: center; */
    /* color: red; */
    margin: 0;
    justify-self: center;
    align-self: center;
}
header p {
    /* text-justify: center; */
    color: darkblue;
    margin: 10px 80px;
    justify-self: center;
    align-self: center;
    clip-path: ellipse(50% 50% at 50% 50%);
    shape-outside: circle(82%);
    background: green;
}

/* Main Journal Area */
#main {
    background-color: rgba(162, 163, 202, 0.959);
    /* width: 80%;
    height: 85%;
    top: -85%;
    left: 10%;
    position: relative; */
}

.line {
    font-size: 20px;
    line-height: 40px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, minmax(150px, 1fr)) 5fr 40px 40px;
    justify-items: center;
    align-self: start;
    height: 40px;
    /* Stupid UL padding and margin junk */
    margin: 0;
    padding: 0;
}
.line li {
    list-style: none;
}

#headings {
    background: var(--frozen);
}

/*  */
#interactive {
    background: var(--tangled);
    height: 40px;
    padding-left: 10px;
}

#timeInput {
    background: transparent;
    border: var(--inputborder);
    width: 100px;
}
#editDate {
    background: transparent;
}

#action {
    background: transparent;
    border: var(--inputborder);
    width: 80px;
}

.oz {
    background: transparent;
    border: none;
}
#amountOz {
    background: transparent;
    /* border: none; */
    border: var(--inputborder);
    width: 70px;
}
.ml {
    background: transparent;
    border: none;
}
#amountMl {
    background: transparent;
    border: var(--inputborder);
    width: 60px;
}

#details {
    background: transparent;
    border: var(--inputborder);
    /* min-width: 270px; */
    width: 460px;
}

/* clear/reset button */
input[type='reset'] {
    background: red;
    border-radius: 20px;
}
/* add a line button */
input[type='submit'] {
    background: red;
    font-weight: 1000;
    border-radius: 20px;
}
/* .entry {

} */
.edit {
    background: red;
    border-radius: 20px;
}
.del {
    background: red;
    border-radius: 20px;
    font-weight: 1000;
}

/* Panels */
#leftPanel {
    background-color: var(--frozen);
    display: none;
}
#rightPanel {
    background-color: rgba(206, 232, 159, 0.986);
    display: none;
}

/* Footer */
footer {
    background-color: rgba(206, 230, 232, 0.959);
    grid-column: 1 / -1;
    justify-self: stretch;
    height: 150%;
    text-align: center;
}

/* General Usefulness */
.hidden {
    display: none;
}
